.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* Input field */
.input-wrapper input {
  width: 700px;
  height: 55px;
  padding: 0 10px;
  font-size: 20px;
  border: none;
  border-right: none; /* Prevents double border */
  border-radius: 30px 0 0 30px;
  outline: none;
  background-color: white;
  color: #444;
  box-sizing: border-box;
}

/* Button */
.input-wrapper button {
  height: 55px;
  width: 75px;
  border: none;
  border-left: none; /* Prevents double border */
  border-radius: 0 31px 31px 0;
  background-color: #ec8806;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s;
  padding: 0;
}

.input-wrapper button:hover {
  background-color: #cf7204;
}

#search-icon {
  color: white;
}